.slide-one-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;

  .taglines-container {
    z-index: 5;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;

    .taglines-container-container {
      margin: 100px 0 50px 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      .tagline {
        // display: flex;
        justify-content: center;
        font-family: $title-font;
        font-size: calc(max(6vw, 3rem));
        text-align: center;
        width: 60%;
      }

      .tagline-2 {
        margin-top: 10px;
        font-size: calc(max(4vw, 2rem));
        text-transform: none;
        text-align: center;
        width: 80%;
      }
    }

    .icons-container {
      display: flex;
      justify-content: center;
      align-content: flex-start;
      flex-flow: row wrap;
      width: 50%;
      height: 250px;
      overflow: hidden;

      .icon {
        width: calc(max(5vw, 30px));
        margin-bottom: calc(max(2vw, 10px));
      }
    }
  }

  .background-image {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    img {
      z-index: -1;
      flex-grow: 1;
      object-fit: cover;
    }
  }
}
