@import url("https://use.typekit.net/joe1jsf.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: 1px solid black; */
  text-transform: lowercase;
}

body {
  padding: 0;
  margin: 0;
  font-family: nimbus-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow-x: hidden;
}

.nav-bar-container {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.nav-bar-container .arrow-left {
  cursor: pointer;
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.nav-bar-container .arrow-left.none {
  display: none;
}

.nav-bar-container .arrow-right {
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.nav-bar-container .arrow-right.none {
  display: none;
}

.nav-bar-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: utopia-std-subhead, serif;
  font-weight: 700;
  font-style: italic;
  font-size: calc(max(2vw, 1rem));
  text-align: center;
}

.nav-bar-container .logo-container .divider {
  display: inline-block;
  content: "";
  height: inherit;
  width: 3px;
  margin: 0 2vw 0 2vw;
  background-color: white;
}

.nav-bar-container .logo-container .logo-tagline {
  font-family: nimbus-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.slides-container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slides-container::-webkit-scrollbar {
  display: none;
}

.slides-container .slides {
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
}

.slide-one-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: white;
  overflow: hidden;
}

.slide-one-container .taglines-container {
  z-index: 5;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 100px 30px 100px 30px;
  color: white;
}

.slide-one-container .taglines-container .taglines-container-container {
  margin: 50px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-one-container .taglines-container .taglines-container-container .tagline {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: utopia-std-subhead, serif;
  font-style: italic;
  font-weight: 700;
  font-size: calc(max(4vw, 2.5rem));
  text-align: center;
  width: 80%;
}

.slide-one-container .taglines-container .taglines-container-container .tagline-2 {
  margin-top: 10px;
  font-size: calc(max(2.5vw, 1.5rem));
  text-transform: none;
  text-align: center;
  width: 80%;
}

.slide-one-container .taglines-container .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 60%;
  overflow: hidden;
}

.slide-one-container .taglines-container .icons-container div {
  margin: 0 10px 0 10px;
  margin-bottom: calc(max(2vw, 10px));
}

.slide-one-container .taglines-container .icons-container div .icon {
  width: calc(max(3vw, 30px));
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.slide-one-container .background-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.slide-one-container .background-image img {
  z-index: -1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

@media screen and (max-width: 768px) {
  .slide-one-container .taglines-container {
    padding: 70px 20px 50px 20px;
  }
}

.slide-two-container {
  position: relative;
  height: 100%;
  color: white;
  overflow: hidden;
}

.slide-two-container .taglines-container {
  z-index: 5;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  padding: 100px 0 80px 30px;
  color: white;
}

.slide-two-container .taglines-container .tagline {
  margin-bottom: 4vw;
  font-size: calc(max(2.5vw, 1.5rem));
  width: 50%;
}

.slide-two-container .taglines-container .tagline-2 {
  font-family: utopia-std-subhead, serif;
  font-weight: 700;
  font-style: italic;
  font-size: calc(max(4vw, 2.5rem));
  width: 50%;
}

.slide-two-container .icons-container {
  z-index: 5;
  position: absolute;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100vh;
  padding: 100px 30px 80px 0;
}

.slide-two-container .icons-container:after {
  content: "";
}

.slide-two-container .icons-container .icon-container {
  position: relative;
}

.slide-two-container .icons-container .icon-container .icon {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  opacity: 0.2;
  width: 100%;
}

.slide-two-container .background-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.slide-two-container .background-image img {
  z-index: -1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

@media screen and (max-width: 768px) {
  .slide-two-container .taglines-container {
    width: 100%;
    padding: 70px 20px 50px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slide-two-container .taglines-container .tagline,
  .slide-two-container .taglines-container .tagline-2 {
    text-align: center;
    width: 75%;
    text-shadow: 0 0 5px black;
  }
  .slide-two-container .taglines-container .tagline {
    margin-bottom: 50px;
  }
  .slide-two-container .icons-container {
    left: 0;
    top: 0;
    padding: 70px 20px 50px 20px;
    width: 100%;
  }
}

.slide-three-container {
  position: relative;
  height: 100%;
  color: white;
  overflow: hidden;
}

.slide-three-container .taglines-container {
  z-index: 5;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 100px 30px 80px 30px;
  color: white;
  text-align: center;
}

.slide-three-container .taglines-container .tagline {
  margin-bottom: 2vw;
  font-size: calc(max(2.5vw, 1.5rem));
  width: 60%;
}

.slide-three-container .taglines-container .tagline-2 {
  font-family: utopia-std-subhead, serif;
  font-style: italic;
  font-weight: 700;
  font-size: calc(max(4vw, 2.5rem));
  width: 60%;
}

.slide-three-container .background-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.slide-three-container .background-image img {
  z-index: -1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

@media screen and (max-width: 768px) {
  .slide-three-container .taglines-container {
    width: 100%;
    padding: 70px 20px 50px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slide-three-container .taglines-container .tagline,
  .slide-three-container .taglines-container .tagline-2 {
    text-align: center;
    width: 75%;
    text-shadow: 0 0 5px black;
  }
  .slide-three-container .taglines-container .tagline {
    margin-bottom: 50px;
  }
}

.slide-four-container {
  position: relative;
  height: 100%;
  color: white;
  overflow: hidden;
}

.slide-four-container .resources-container {
  z-index: 5;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
  width: 100%;
  height: 100%;
  padding: 100px 30px 30px 30px;
}

.slide-four-container .resources-container .tagline {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(max(3.5vw, 1.75rem));
  text-align: center;
}

.slide-four-container .resources-container .resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 /2;
  width: 80%;
}

.slide-four-container .resources-container .resources .resource {
  margin-bottom: calc(max(2vw, 15px));
  position: relative;
}

.slide-four-container .resources-container .resources .resource .title {
  font-family: utopia-std-subhead, serif;
  font-style: italic;
  font-weight: 700;
  font-size: calc(max(2.5vw, 1.5rem));
}

.slide-four-container .resources-container .resources .resource #educate::before,
.slide-four-container .resources-container .resources .resource #awareness::before,
.slide-four-container .resources-container .resources .resource #volunteer::before,
.slide-four-container .resources-container .resources .resource #financial::before {
  content: "1";
  position: absolute;
  color: rgba(255, 255, 255, 0.1);
  font-size: calc(max(8vw, 3rem));
  left: -3vw;
  top: -3vw;
}

.slide-four-container .resources-container .resources .resource #awareness::before {
  content: "2";
}

.slide-four-container .resources-container .resources .resource #volunteer::before {
  content: "3";
}

.slide-four-container .resources-container .resources .resource #financial::before {
  content: "4";
}

.slide-four-container .resources-container .resources .resource ul {
  margin-top: 10px;
}

.slide-four-container .resources-container .resources .resource ul li {
  list-style-type: none;
  margin-bottom: 5px;
}

.slide-four-container .resources-container .resources .resource ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

.slide-four-container .background-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.slide-four-container .background-image img {
  z-index: -1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

@media screen and (max-width: 768px) {
  .slide-four-container .resources-container {
    padding: 70px 20px 20px 20px;
  }
  .slide-four-container .resources-container .resources {
    width: 90%;
  }
  .slide-four-container .resources-container .resources ul {
    padding: 0;
  }
}

.scroll-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-right: 50px;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.scroll-tag .text {
  font-size: 1.5rem;
  color: white;
}

.scroll-tag .bar {
  z-index: 10;
  height: 40px;
  width: 5px;
  background-color: white;
}

.scroll-tag.disable {
  opacity: 0;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}
/*# sourceMappingURL=App.css.map */