@import url("https://use.typekit.net/joe1jsf.css");

$title-font: utopia-std-subhead, serif;
$body-font: nimbus-sans, sans-serif;

* {
  box-sizing: border-box;
  /* border: 1px solid black; */
  text-transform: lowercase;
}

body {
  padding: 0;
  margin: 0;
  font-family: $body-font;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(0, 0, 0);
}

.nav-bar-container {
  z-index: 10;
  position: fixed;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  .logo-container {
    display: flex;
    gap: 15px;
    font-family: $title-font;
    font-size: calc(max(2vw, 1rem));

    .divider {
      display: inline-block;
      content: "";
      height: inherit;
      width: 3px;
      background-color: white;
    }

    .logo-tagline {
      font-family: $body-font;
      // font-weight: 500;
    }
  }
}

.slides-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .slides {
    position: relative;
    scroll-snap-align: start;
    height: 100vh;

    .slide-one-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: white;

      .taglines-container {
        z-index: 5;
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: white;

        .tagline {
          font-family: $title-font;
          // margin-bottom: 50px;
          font-size: calc(max(5vw, 3rem));
          text-align: center;
          width: 50%;
        }

        .tagline-2 {
          font-size: calc(max(3vw, 2rem));
          text-transform: none;
          text-align: center;
          width: 80%;
        }
      }

      .background-image {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);

        img {
          z-index: -1;
          flex-grow: 1;
          object-fit: cover;
        }
      }
    }

    .slide-two-container {
      position: relative;
      height: 100%;

      .taglines-container {
        z-index: 5;
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: white;

        .tagline {
          margin-bottom: 50px;
          font-size: calc(max(3vw, 2rem));
          text-align: center;
          width: 50%;
        }

        .tagline-2 {
          font-family: $title-font;
          font-size: calc(max(5vw, 3rem));
          text-align: center;
          width: 80%;
        }
      }

      .background-image {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);

        img {
          z-index: -1;
          flex-grow: 1;
          object-fit: cover;
        }
      }
    }
  }
}
