.nav-bar-container {
  position: fixed;
  width: 100%;
  margin: 10px -20px 0 -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: calc(max(2vw, 1rem));
  }
}

.slides {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: -20px;
  scroll-snap-align: start;

  .slide-one-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .tagline {
      font-size: calc(max(4vw, 2.5rem));
      text-align: center;
      width: 70%;
    }
  }

  .slide-two-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;

    .tagline {
      font-size: calc(max(4vw, 2.5rem));
      text-align: center;
      width: 70%;
    }

    .tagline-2 {
      margin: 40px;
      font-size: calc(max(4vw, 2rem));
      text-align: center;
      width: 70%;
    }
  }
}
